body {
    padding-top: 50px;
}

footer {
    text-align: center;
}

@media only screen and (min-width: 1170px) .navbar-custom {
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    transition: background-color .3s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

@media only screen and (min-width: 768px) .navbar-custom {
    background: 0 0;
    border-bottom: 1px solid transparent;
}

.intro-header {
    background-color: gray;
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -e-background-size: cover;
    margin-bottom: 50px;
}

.site-heading h1 {
    font-size: 80px;
    font-weight: 800;
    color: #fff;
    text-align: center;
}

.subheading {
    font-size: 24px;
    font-weight: 300;
    display: block;
    margin: 10px 0 0;
    text-align: center;
    color: #fff;
}

.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: #fff;
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 0px;
    }
}

a:hover {
    text-decoration: none;
}
