{% extends "base_art.html" %} {% block main_content %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/cult">Latest Updates</a>
        <li>
            <li role="presentation" class="active"><a href="/art">Info</a>
                <li>
</ul>
<br>
<div>
    <p><h3>Design &amp Graphics Club</h3>
    <hr>
    <p><h4>
        <b>Faculty Advisor</b>: Dr.Rajeshwari Dutt, Dr.Tripti Singh<br></h4>
        <!--<b>Coordinator</b>:-->
    </p>
    <p> This is one of new club in IIT Mandi. This club is aimed at bringing talent of students in the field of fine arts and photoshop designing.        
    </p>
</div>
{% endblock %}
