{% extends "base_ath.html" %} {% block main_content %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/sports">Latest Updates</a>
        <li>
            <li role="presentation" class="active"><a href="/ath">Info</a>
                <li>
</ul>
<br>
<div>
    <p><h3>Athletics </h3> 
    <hr>
    <p align="justify"><h4>
        <b>Student Coordinator</b> : Vinod Kumar</h4>
<p align="justify">
Facilities for various running , throwing , jumping events are available at Mandi and Kamand Campus.Athletics track is under construction at Kamand campus.Players mostly practice at paddal ground near mandi campus.
        
    </p>
</div>
{% endblock %}
