{% extends "base_bad.html" %} {% block main_content %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/sports">Latest Updates</a>
        <li>
            <li role="presentation" class="active"><a href="/bad">Info</a>
                <li>
</ul>
<br>
<div>
    <p> <h3>Badminton  </h3>
    <hr>
    <p align="justify"><h4>
        <b>Student Coordinator</b>: Nitesh Kumar </h4></p>
        <p align="justify">Badminton or let us just say 'baddy', is the most popular sport in IIT Mandi. There is a wooden court in the Institute,  Students are free to come to the courts at any time to have fun.

        
    </p>
</div>
{% endblock %}
