{% extends "base_bas.html" %} {% block main_content %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/sports">Latest Updates</a>
        <li>
            <li role="presentation" class="active"><a href="/bas">Info</a>
                <li>
</ul>
<br>
<div>
    <p><h3>Basketball  </h3>
    <hr>
    <p align="justify"><h4>
        <b>Student Coordinator</b> : Abhay Pratap </h4>
	</p/>
<p align="justify"> Facilities for basketball are available at both Kamand and Mandi campus. Basketball team is always on the lookout for new talented, disciplined and dedicated members. 
        
    </p>
</div>
{% endblock %}
