{% extends "base.html" %} {% block content %}
<header class="intro-header" style="background-image: url('/static/img/cont.jpg')">
    <div class="container">
        <div class="row">
            <h1>&nbsp;</h1></div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Hostels</h1>
                    <hr class="small">
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <h1>&nbsp;</h1></div>
        <div class="row">
            <h1>&nbsp;</h1></div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% block main_content %} {% endblock %}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <!-- <h4><a href="#">Our Clubs</a></h4>
            <div class="nav nav-pills nav-stacked">
                <li class="presentation"><a href="#">EDLS</a></li>
                <li class="presentation"><a href="#">Magazine Section</a></li>
            </div>
            <hr> -->
            <h4><a href="#">Student Life</a></h4>
            <div class="nav nav-pills nav-stacked">
                                <li class="presentation"><a href="/nss">NSS</a></li>
                                <li class="presentation"><a href="/nso">NSO</a></li>

                <li class="presentation"><a href="/hk">Hiking and Trekking</a></li>
                            </div>
        </div>
    </div>
</div>
{% endblock %}
