<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SAC - IIT Mandi</title>
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>   
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">SAC - IIT Mandi</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Societies<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/tech">Technical Society</a></li>
                            <li><a href="/cult">Cultural Society</a></li>
                            <li><a href="/lit">Literary Society</a></li>
                            <li><a href="/acad">Academic Society</a></li>
                            <li><a href="/sports">Sports Society</a></li>
                            <li><a href="#">Research Society</a></li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Links<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="http://iitmandi.ac.in">Institute Website</a></li>
                            <li><a href="http://students.iitmandi.ac.in/webmail">Student Webmail</a></li>
                            <li><a href="http://iitmandi.ac.in/placements">Career &amp; Placement Cell</a></li>
                            <li><a href="http://iitmandi.ac.in/gcs">Guidance &amp; Counselling Service</a></li>
                            <li><a href="http://insite.iitmandi.ac.in/moodle/">Moodle</a></li>
                            <li><a href="http://library.iitmandi.ac.in">Library</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Student Life<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/nso">NSO</a></li>
                            <li><a href="/nss">NSS</a></li>
                            <li><a href="/hk">Hiking &amp; Trekking</a></li>
                            
                                                    </ul>
                    </li>
                    <li class="presentation"><a href="/contacts">Contacts</a></li>
                    <li class="presentation"><a href="/gallery">Gallery</a></li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Header and Main Content -->
    {% block content %} {% endblock %}
    <hr>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <p>Copyright &copy; SAC, IIT Mandi 2015</p>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script>
    $("body").text("jQuery works");
</script>
</body>

   

</html>
