{% extends "base_cri.html" %} {% block main_content %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/sports">Latest Updates</a>
        <li>
            <li role="presentation" class="active"><a href="/cri">Info</a>
                <li>
</ul>
<br>
<div>
    <p><h3>Cricket  </h3>
    <hr>
    <p><h4>
        <b>Student Coordinator</b>: Nikhil Kaushik </h4>
    </p>
    <p align="justify"> Cricket field at Kamand campus is under construction.Although facilities for cricket are available at Mandi campus and at Paddal Ground near Mandi Campus. Cricket team has performed very good at Inter IIT Sports Meet during the past few years. Besides participating in Inter IIT , team also playes matches against local teams and other engineering colleges.
    	
        
    </p>
</div>
{% endblock %}
