{% extends "base_cult.html" %}
{% block main_content %}
            <ul class="nav nav-tabs">
              <li role="presentation"><a href="/cult">Latest Updates</a><li>
              <li role="presentation" class="active"><a href="/cult/info">info</a><li>
            </ul>
            <br>
            <div>
                <p>The Cultural Society of IIT Mandi is one of seven societies at IIT Mandi.</p>
                <hr>
                <p>
                <h4><b>Cultural Secretary</b>: Kisna Mahajan </h4>

                </p>
            </div>
{% endblock %}
