{% extends "base_cult.html" %}
{% block main_content %}
            <ul class="nav nav-tabs">
              <li role="presentation"><a href="/cult">Latest Updates</a><li>
              <li role="presentation" class="active"><a href="/cult/events">Events</a><li>
            </ul>
            <br>
            <div>
                <p><h4>The Cultural Society of IIT Mandi organizes two major events in a year.</h4></p>
                <hr>
                                <p><ul>
  <li><h4><b><u>Aakarshan</u></b></h4></li>
    <p><h5>Aakarshan is Introductory Cultural Program for Freshers.</h5></p>
      <p></p>
  <li><h4><b><u>Exuberance</u></b></h4></li>
    <p><h5>Exuberance in the Intra College Cultural Fiesta of IIT Mandi.</h5></p>
</ul>
            </div>
{% endblock %}
