{% extends "base_dan.html" %} {% block main_content %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/cult">Latest Updates</a>
        <li>
            <li role="presentation" class="active"><a href="/dan">Info</a>
                <li>
</ul>
<br>
<div>
    <p><h3>Dance  Club</h3>
    <hr>
    <p><h4>
        <b>Faculty Advisor</b>: Dr.Bhakti Joshi<br></h4>
        <b>Student Coordinator</b>: Aryan Kumar<br>
    </p>
      <p align="justify">This group has succeeded in channelizing its talents through determination and practice.With regular guidance under professional choreographers and workshops, in future the section plans to perform and compete at various competitions in IIT's and other colleges alike. This section is awaiting more talent in years to come. Their motto says it for them" Don't Worry, Just Be HAPPY ".</p>  
    </p>
</div>
{% endblock %}
