{% extends "base_dra.html" %} {% block main_content %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/cult">Latest Updates</a>
        <li>
            <li role="presentation" class="active"><a href="/dra">Info</a>
                <li>
</ul>
<br>
<div>
    <p><h3>Drama  Club</h3>
    <hr>
    <p><h4>
        <b>Faculty Advisor</b>: Dr.Bhakti Joshi<br></h4>
        <b>Student Coordinator</b>: Shivangi Kataria<br></p>
        <p align="justify">The seeds of this section were sown when one of the skits performed by some students in the institute's first year at IIT Roorkee became a hit. Within no time, they became one of the most active groups in the cultural council. Beginning with short skits, this group has matured to the point where they regularly put up hilarious yet sensible, full -fledged plays in both Hindi and English.</p>

        
    </p>
</div>
{% endblock %}
