{% extends "base_edls.html" %} {% block main_content %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/lit">Latest Updates</a>
        <li>
            <li role="presentation" class="active"><a href="/edl">Info</a>
                <li>
</ul>
<br>
<div>
    <p><h3>English Debating &amp; Literary Society (EDLS)</h3>
    <hr>
    <p><h4>
        <b>Faculty Advisor</b>: Dr.Shail Shankar<br></h4>
	<b>Student Coordinator</b>: Sagar Ghai <br>
        </p>
        <p align="justify">
        	English Debating and Literary Society is a club under the Literary Society
which aims at keeping the literary culture alive in the campus. It makes
sure the year is brimmed with activities like quizzing, poetry writing,
story writing, debates of varied formats, group discussions on any topic off
our minds, JAMs and many more. Winners of these competitive events get
accolade with prizes accordingly with the winning writers getting their
entries published in the semester-wise students' magazine Vivan. The club
members who perform exceptionally well during the year get a chance to
represent the Literary Society of IIT Mandi in various college fests which
include Rendezvous of IIT Delhi and Oasis of BITS Pilani. With coming years
we plan to supply an even richer and continuous supply of food for thought
for the literary minds of our college and keep the Shakespeares and Frosts
of the campus alive and prosperous.

    </p>
</div>
{% endblock %}
