{% extends "base_ele.html" %} {% block main_content %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/tech">Latest Updates</a>
        <li>
            <li role="presentation" class="active"><a href="/ele">Info</a>
                <li>
</ul>
<br>
<div>
    <p><h3>Electronics  Club</h3>
    <hr>
    <p><h4><b>Faculty Advisors</b>: Dr.Hitesh Shrimali, Dr.A.D Dileep<br></h4>
        <b>Student Coordinators</b>: Sakshama Ghosalya , Nikhil Kaushik , Neha Muthiyan
    </p>
    <p align="justify"> Electronics Club carries a vision to involve students in challenges waiting in the field of circuit design.It envisions a thorough understanding of basic electronics and getting familiar with advanced technical know-how.The club has been pretty active throughout the year and displayed some very interesting projects in the Avishkar Open House</p>
</div>
{% endblock %}
