{% extends "base_ene.html" %} {% block main_content %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/tech">Latest Updates</a>
        <li>
            <li role="presentation" class="active"><a href="/ene">Info</a>
                <li>
</ul>
<br>
<div>
    <p><h3>Energy  Club</h3>
    <hr>
    <p><h4><b>Faculty Advisors</b>: Dr.Atul Dhar, Dr.Kunal Ghosh<br></h4>
        <b>Student Coordinators</b>: Amar Simha Yadav , Kunal Gour </p>
        <p align="justify">
        	As a part of the Science and Technology Society of IIT Mandi, the Energy Club plays an important role in the field of mechanical engineering. It was setup to mainly focus on developing green and effective energy methods.
        
    </p>
</div>
{% endblock %}
