{% extends "base.html" %}
{% block content %}
    <header class="intro-header" style="background-image: url('/static/img/entry-bg.jpg')">
      <div class="container">
        <div class="row"><h1>&nbsp;</h1></div>
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="site-heading">
                <h1>Student Gymkhana</h1>
                <hr class="small">
                <span class="subheading">Updates from far-away Kamand</span>
              </div>
            </div>
          </div>
        <div class="row"><h1>&nbsp;</h1></div>
        <div class="row"><h1>&nbsp;</h1></div>
      </div>
    </header>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% autoescape false %}
            <div>
                {{ entry[0] }}
                <br>
                <p>by {{ entry[1] }} on {{ entry[2] }}</p>
            </div>
            <hr>
            {% endautoescape %}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <h4>Recent Entries</h4>
                {% for entry in recent_entries %}
                <br>
                <p>
                  <a href="/entry?id={{ entry[0] }}">{{ entry[1][:30] }}...</a>
                </p>
                {% endfor %}
            <hr>
            <h4>Upcoming Events</h4>
            <div class="nav nav-pills nav-stacked">
                <li class="presentation"><a href="#">Orientation of Batch '17-'21</a></li>
                <li class="presentation"><a href="#">Aakarshan</a></li>
                <li class="presentation"><a href="#">Rann-Neeti'16</a></li>

            </div>
        </div>
       </div>
    </div>
</div>
{% endblock %}
