{% extends "base_foo.html" %} {% block main_content %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/sports">Latest Updates</a>
        <li>
            <li role="presentation" class="active"><a href="/foo">Info</a>
                <li>
</ul>
<br>
<div>
    <p><h3>Football </h3> 
    <hr>
    <p><h4>
        <b>Student Coordinator</b>: Pushpendra Kumar Meena </h4></p>
         <p align="justify">The Kamand Campus has a very good football field. An experienced coach has also been appointed. Besides participating in the Inter-IIT Sports meets, the team also plays practice matches against the local teams. This helps in increasing the skills of players and at the same time provides them with an opportunity to interact with the local people. The team has very enthusiastic and passionate players but is also always on the lookout to induct new members to the team.
    </p>
</div>
{% endblock %}
