{% extends "base_hoc.html" %} {% block main_content %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/sports">Latest Updates</a>
        <li>
            <li role="presentation" class="active"><a href="/hoc">Info</a>
                <li>
</ul>
<br>
<div>
    <p><h3>Hockey</h3> 
    <hr>
    <p><h4>
        <b>Student Coordinator</b> : Saif Ali Akhtar </h4>
</p>
<p align="justify">
The hockey team is one of the most disciplined and hard working sports group at IIT Mandi.Hockey field at Kamand campus is under construction.Hockey players practice mostly in the "Paddal Ground" with a coach and other local players. 
        
    </p>
</div>
{% endblock %}
