{% extends "base_literary.html" %}
{% block main_content %}
            <ul class="nav nav-tabs">
              <li role="presentation"><a href="/lit">Latest Updates</a><li>
              <li role="presentation" class="active"><a href="/lit/info">Info</a><li>
            </ul>
            <br>
            <div>
                <p>The Literary Society of IIT Mandi is one of seven societies at IIT Mandi.</p>
                <hr>
                <p>
                <b>Literary Secretary</b>: Farah Anjum
                
                </p>
            </div>
{% endblock %}
