{% extends "base_lounge.html" %}
{% block main_content %}
            <ul class="nav nav-tabs">
              
              <li role="presentation" class="active"><a href="/lounge">Info</a><li>
            </ul>
            <br>
            <div>
                <p align="justify">
                <h5>The lounge has played host to many student activities, and has been at the
centre of the Kamand campus life , both in its location as well as its
purpose. The lounge provides a cohesive atmosphere for the meetings of the
various student bodies. The Lounge is a place for the student community to
discuss projects, display of Literary and Photography works, and for the
practice sessions on Dance and Drama.</h5>
                </p>
            </div>
{% endblock %}
