{% extends "base_mad.html" %} {% block main_content %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/tech">Latest Updates</a>
        <li>
            <li role="presentation" class="active"><a href="/mad">Info</a>
                <li>
</ul>
<br>
<div>
    <p><h3>Mobile Application Development(MAD)</h3>
    <hr>
    <p>
        <b>Student Coordinators</b>: Shubham Chandel , Samriddhi Jain </p>
        <p align="justify">Emergence of Android market has raised a demand for Application Developers throughout the world and MAD ensures that IIT Mandi is doing it's part by contributing some of the great minds in the field.
        
    </p>
</div>
{% endblock %}
