{% extends "base_mag.html" %} {% block main_content %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/lit">Latest Updates</a>
        <li>
            <li role="presentation" class="active"><a href="/mag">Info</a>
                <li>
</ul>
<br>
<div>
    <p> <h3>Magazine : Vivaan </h3>
    <hr>
    <p><h4>
        <b>Faculty Advisor</b>: Dr.Shail Shankar<br></h4>
	<b>Student Coordinator</b>: Ankit Kumar <br>
        </p>
        <p align="justify"> This club of the Literary Society aims at successfully publishing the
bi-annual students' magazine Vivaan. Vivaan has as seen 4 editions over the
span of 3 years of its establishment. For the current academic year, Dr
Shail Shankar is the faculty advisor of the magazine section. The section
comprises of the editors' panel responsible for ensuring the quality of the
content which goes in the magazine and the designer's panel which plays a
huge role in making the magazine a delightful read in terms of visuals. The
team works to search out for the hidden talents in writing and extracts out
the best of them in the form of some hilarious, some thought provoking and
some of the wittiest articles. The designers work day in and out to help
take Vivaan final form and the Literary Society makes sure that they get
their due share (treats!). The magazine is made available both in print and
e-format to read.
        
    </p>
</div>
{% endblock %}
