{% extends "base_mus.html" %} {% block main_content %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/cult">Latest Updates</a>
        <li>
            <li role="presentation" class="active"><a href="/mus">Info</a>
                <li>
</ul>
<br>
<div>
    <p><h3>Music  Club</h3>
    <hr>
    <p><h4>
        <b>Faculty Advisor</b>: Dr.Bhakti Joshi<br></h4>
        <b>Student Coordinator</b>: Rahul Singh<br>
        </p>
        <p align="justify">The Music club of IIT Mandi was established with the aim of encouraging,
practicing and performing various genres of music (classical, western,
fusion etc.). Run by highly talented members and equipped with specialized
musical instruments, the section is scripting success stories in all
cultural events. The fun-filled practice sessions are an icing on the cake
for members as they try to learn from the mistakes made in grabbing the
subtleties of a song.

The Music Club here at IIT Mandi has full range of required instruments and
audio set-up including powerful feedback monitors, electric guitars,
harmonium, speakers, 24 channel mixer etc.</p>
    

</div>
{% endblock %}
