{% extends "base_nso.html" %}
{% block main_content %}
            <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a href="/nso">Info</a><li>
            </ul>
            <br>
            <div>
                <p> All work and no play, makes Jack a dull boy. :)</p>

<p align="justify">NSO is the official sports programme of IIT Mandi. It was included in the extra-curricular activities of many students of IIT Mandi. Each first year student has to choose between NSO or NSS or HIKING. Each student has to complete 40 hrs in one semester. NSO includes all the sports provided by the Institute. Proper coaches are provided in every field of NSO program. For those who were in their school sports team, here is the way back to get on same track. Use NSO to remove all the limitations and have a shot at IIT Mandi's sports team. </p>
<p>Currently following sports facilites are available at Kamand Campus, IIT Mandi.</p>

<ul>
	<li>Cricket Field</li>
	<li>Football Field</li>
	<li>Wooden Badminton Court</li>
	<li>Table Tennis Court</li>
	<li>Volleyball Court</li>
	<li>Basketball Court</li>
</ul>
Lawn Tennis court is under construuction.

            </div>
{% endblock %}
