{% extends "base_nss.html" %}
{% block main_content %}
            <ul class="nav nav-tabs">
            	<li role="presentation"><a href="/nss">Latest Updates</a>
        <li>
                            <li role="presentation" class="active"><a href="/nss/info">Info</a><li>
            </ul>
            <br>
            <div>
                <p>  NSS is a voluntary group of students working for the betterment of the community around them. They are the social workers of the institute striving for an improved society around them.</p>
                <p> Click here to go to <a href="http://www.iitmandi.ac.in/nss">NSS IIT Mandi </a> website.</p> 

<p align="justify">The NSS group of IIT Mandi comprises of three broad sections: The Health section conducts various campaigns right through the year, promoting the donation of blood and creating awareness about some commonly spread diseases by disseminating information throughout Mandi city. They educate the people about the various causes of common diseases and also highlight them with the means which can be undertaken to avoid them. One of the major achievements of the health section is the organisation of the blood donation camp. Students of the institute voluntarily take part in the program and donate their blood for the needy. In the last few programs an active participation from the city has also been seen with the local inhabitants stepping forward to donate their blood.</p>

<p>The Literacy section consists of a group of students devoted towards spreading education and literacy. They help the poor and the financially disabled by providing them free study materials and guiding them through their course structure. The students of the literacy section have conducted various seminars and awareness campaigns in the government schools of the city. They are promoting higher education in the city by spreading the knowledge of various competitive examinations like JEE, AIEEE, PMT etc. The literacy section conducts free classes for the students in our very own campus in the evening.</p>

<p>The Awareness section thrives to create awareness about all sorts of evils which are present in the society, be it the evils related to child labour, bad effects of smoking or even the cleanliness of the city. The students of the institute voluntarily take part in the activity and spread the message by publishing various pamphlets and hooking up banners right throughout the city. They along with the help of various faculty members organise various campaigns and programmes to make the people aware of all the ill-happenings going  </p>


            </div>
{% endblock %}
