{% extends "base_pho.html" %} {% block main_content %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/cult">Latest Updates</a>
        <li>
            <li role="presentation" class="active"><a href="/php">Info</a>
                <li>
</ul>
<br>
<div>
    <p><h3>Photography  Club</h3>
    <hr>
    <p><h4>
        <b>Faculty Advisor</b>: Dr.Prasanth Jose<br></h4>
        <b>Student Coordinator</b>: Siddhant Kumar<br>
    </p>
    <p align="justify">IIT Mandi has a dedicated club for photography and related activities. The photography club is more like a hobby group bringing together the Institute's enthusiastic photographers. With regular photography tours in the belts of Himalayas, students expose themselves to an exciting and sometimes adventurous experience. Apart from getting involved in mainstream photographic activities, the club also helps in designing and editing college literature like magazines, technical newsletters, flexes etc.
        
    </p>
</div>
{% endblock %}
