{% extends "base_pm.html" %} {% block main_content %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/cult">Latest Updates</a>
        <li>
            <li role="presentation" class="active"><a href="/pm">Info</a>
                <li>
</ul>
<br>
<div>
    <p><h3>Programme Management  Club</h3>
    <hr>
    <p><h4>
        <b>Faculty Advisor</b>: Dr.Bhakti Joshi<br></h4>
        <b>Student Coordinators</b>: Ankush Jindal , Abhimanyu Mittal<br>
   </p>
        <p align="justify">This club is one of the most important club of the Cultural Society. This is the club responsible for organizing various events like Aakarshan , Yuvyom ,Exuberance throughout the year. They are the people who manage the things behind the stage.
        	Being a part of this club , one gets to learn a lot.
        
    </p>
</div>
{% endblock %}
