{% extends "base_pro.html" %} {% block main_content %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/tech">Latest Updates</a>
        <li>
            <li role="presentation" class="active"><a href="/pro">Info</a>
                <li>
</ul>
<br>
<div>
    <p><h3>Programming  Club</h3>
    <hr>
    <p><h4>
        <b>Faculty Advisor</b>: Dr.Arti Kashyap<br></h4>
        <b>Student Coordinator</b>: Rohit Bishnoi </p>
        <p>
        	It is a club dedicated to competitive programming .They organized various programming competitions. A team from IIT Mandi also reached the regional qualifying round of ACM-ICPC. Programming club also organized a "Mozilla Workshop" on 8th November 2014.
        
    </p>
</div>
{% endblock %}
