{% extends "base_rob.html" %} {% block main_content %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/tech">Latest Updates</a>
        <li>
            <li role="presentation" class="active"><a href="/rob">Info</a>
                <li>
</ul>
<br>
<div>
    <h3>Robotics Club</h3>
    <hr>
    <p><h4>
    	<b>Faculty Advisors</b>: Dr.Samar Agnihotri, Dr. Rajesh Ghosh<br></h4>
        <b>Student Coordinators</b>: Gopal Krishan Aggarwal , Ravi Sirohi </p>
        <p> Robotics Club, IIT Mandi is a student organization that brings together the geeks on campus.They provide everythingthat students need to build robots : workspace , tools, supplies, money and experienced people to answer questions and help with projects.Most of the projects are aimed at either solving day to day problems by means of smart machines or just building something incredibly awesome. </p>
    
</div>
{% endblock %}
