{% extends "base_scri.html" %} {% block main_content %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/tech">Latest Updates</a>
        <li>
            <li role="presentation" class="active"><a href="/scri">Info</a>
                <li>
</ul>
<br>
<div>
    <h3>Society for Collaborative Research and Innovation(SCRI)</h3>
    <hr>
    <p><h4>
        <b>Faculty Advisors</b>: Dr.Venkata Krishna, Dr.Suman Sigroha<br></h4>
        <b>Student Coordinators</b>: Prashant Kumar , Akshat Gupta , Abhimanyu Mittal </p>
        <p align="justify">  This club is aimed at promoting research activities in the insitute.This club also publishes a magazine named "Essent" which has  information regarding various researches happening in IIT Mandi.</p>
    
</div>
{% endblock %}
