{% extends "base_sports.html" %}
{% block main_content %}
            <ul class="nav nav-tabs">
              <li role="presentation"><a href="/sports">Latest Updates</a><li>
              <li role="presentation" class="active"><a href="/sportsevents">Events</a><li>
            </ul>
            <br>
            <div>
                <p><h4>The Sports Society of IIT Mandi organizes two major events throughout the year.</h4></p>
                <hr>
                <p><ul>
  <li><h4><b><u>Rann-Neeti</u></b></h4></li>
  <p>Rann-Neeti is Annual Inter College Sports Fest of IIT Mandi organized during the month of September.</p>
  <p><p>
  <li><h4><b><u>Aagaz</u></b></h4></li>
  <p>Aagaz is the Inter Year Sports Tournament of IIT Mandi.</p>
</ul>
                
                </p>
            </div>
{% endblock %}
