{% extends "base_sports.html" %}
{% block main_content %}
            <ul class="nav nav-tabs">
              <li role="presentation"><a href="/sports">Latest Updates</a><li>
              <li role="presentation" class="active"><a href="/sports/info">Info</a><li>
            </ul>
            <br>
            <div>
                <p>The Sports Society of IIT Mandi is one of seven societies at IIT Mandi.</p>
                <hr>
                <p>
                <b>Sports Secretary</b>:<br>
                Karan Mahajan
                </p>
            </div>
{% endblock %}
