{% extends "base_stac.html" %} {% block main_content %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/tech">Latest Updates</a>
        <li>
            <li role="presentation" class="active"><a href="/stac">Info</a>
                <li>
</ul>
<br>
<div>
    <p><h3>Space Technology and Astronomy Cell(STAC)</h3>
    <hr>
    <p><h4>
        <b>Faculty Advisors</b>: Dr.Hari Verma, Dr.Arnav Bhavsar<br></h4>
        <b>Student Coordinator</b>: Ayush Yadav
    </p>
    <p align="justify"> This club is aimed at making students familiar with Astronomy and Space related stuff. Currently club has two telescopes and one binocular.One telescope is under construction. This club is very much active organized star gazing events every month.
        
    </p>
</div>
{% endblock %}
