{% extends "base_tech.html" %}
{% block main_content %}
            <ul class="nav nav-tabs">
              <li role="presentation"><a href="/tech">Latest Updates</a><li>
              <li role="presentation" class="active"><a href="/techevents">Events</a><li>
            </ul>
            <br>
            <div>
                <p><h4>The Technical Society of IIT Mandi conducts Two major events throughout the year .</h4></p>
                <hr>
                <p><ul>
  <li><h4><b><u>Utkarsh</u></b></h4></li>
  <p><h5>Utkarsh is the Intra-College Tech fest of IIT Mandi organised by Science and Technology Council of IIT Mandi.</h5></p>
  <p></p>
  <li><h4><b><u>Avishkar</u></b></h4></li>
  <p><h5>Avishkar is the Inter-Year Techincal Competition of IIT Mandi.</h5></p>
  
</ul>  
                
                
                </p>
            </div>
{% endblock %}
