{% extends "base_tt.html" %} {% block main_content %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/sports">Latest Updates</a>
        <li>
            <li role="presentation" class="active"><a href="/tt">Info</a>
                <li>
</ul>
<br>
<div>
    <p><h3>Table Tennis</h3>
    <hr>
    <p><h4>
        <b>Student Coordinator</b>: Rishabh Trivedi</h4></p>
<p align="justify">Table Tennis is one of the most played games at IIT Mandi. Facilities for TT are available at  hostels and in Table Tennis court at Kamand. It is a great source of fun and refreshment. The TT team has some very talented players. The team gets to play with district players which is very helpful in skill development. Our players have been performing well at the inter college and district level. Intra college and intra hostel TT tournaments are also regularly organized.

        
    </p>
</div>
{% endblock %}
