{% extends "base_vol.html" %} {% block main_content %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/sports">Latest Updates</a>
        <li>
            <li role="presentation" class="active"><a href="/vol">Info</a>
                <li>
</ul>
<br>
<div>
    <p> <h3>Volleyball </h3>
    <hr>
    <p><h4>
        <b>Student Coordinator</b> : Sagar Peddinti </h4>
</p>
<p align="justify">
There are volleyball courts at Kamand campus, the Paddal ground nearby and at Mandi campus. A coach has been appointed to help keep the skills of players up to the mark. Students are free to play volleyball at any time and it is not uncommon to find the court in use even during the lunch times and parts of the academic hours. The volleyball team is very excited about participating in more competitions and eagerly awaits to acquire new talent.
        
    </p>
</div>
{% endblock %}
